/* ELEMENT SELECTOR: Styles every element of this type. */
h2 {
    color: black;
    font-family: "Times New Roman", serif;
    font-size: 18px;
}

/* CLASS SELECTOR: Styles elements with class="info-box". */
.info-box {
    background-color: white;
    padding: 5px;
    border: none;
    width: 300px;
}

/* ID SELECTOR: Styles the element with id="cssLogo". */
#cssLogo {
    margin: 5px;
    height: 75px;
}